body{
    color:#40514E;
    background-color: #E3FDFD;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 5rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color:#66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color:#11999E;
}
p{
    line-height: 2;
}
.top-container{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    margin: 100px 0;
    background-color: #E3FDFD;
    
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom:300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top:50px
}
.profile-pic{
    width:128px;
    height:128px;
}

.skill-row{
    width:50%;
    margin: 50px auto 50px auto;
    text-align: justify;
}
.code-img{
    
    width: 30%;
    float: left;
    margin: 30px;
}
.pm-img{
    width:25%;
    float: right;
    margin: 30px;
}
.books-img{
    
    width:25%;
    float: left;
    margin: 30px;
}
.intro-mid{
   width:30%;
   margin: auto;
}
.intro-last{
    width:40%;
   margin: 40px auto 60px;
}
hr{
    border-top: 6px dotted grey;
    width:10%;
    margin: 100px auto;

}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }

  a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  a:hover{
    color: #EAF6F6;
  }
  .copy-right{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding:20px 0;
  }